<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
    <meta content="telephone=no" name="format-detection" />


    <script src="http://g.assets.daily.taobao.net/tb/jae-jsapi/0.2.0/jae.js?t=12242049"></script>


    <!--<script src="../src/base.js"></script>-->
    <!--<script src="../src/bridge/bridge.js"></script>-->
    <!--<script src="../src/bridge/api.js"></script>-->
    <!--<script src="../src/widget/update.js"></script>-->
    <!--<script src="../src/widget/smartbanner.js"></script>-->

    <style>
        body{margin:0;padding:0 1em;background-color: #fff;}
        section{
            margin:1em 0;padding:0em;background-color: #eee; border-radius: 1em;
        }
        section h3{
            margin:0;padding:0.5em;background-color: #ddd;font-size: 1em;
        }
        section .bd{
            margin:0;padding:1em;
            word-break:break-all;
        }
        section .log{
            margin:10px 0;padding:3px;color: #ffb260;
        }
    </style>


    <script>
        function log(panel,msg){
            var id;
            if((id = document.getElementById(panel)) && id){
                var p = document.createElement("p");
                p.innerHTML = msg;
                id.appendChild(p);
            }
        }
    </script>


</head>
<body>





<section>
    <h3>设备信息</h3>
    <div class="bd">
        <div class="log" id="log-deviceInfo"></div>
    </div>

    <script>
        window.addEventListener("load",function(){
            //设备信息
//        JAE.bridge.deviceInfo(function(e){
//            log("log-deviceInfo","设备信息:"+JSON.stringify(e));
//        },function(e){
//            log("log-deviceInfo","设备信息获取失败:"+JSON.stringify(e));
//        })


            log("log-deviceInfo","WindVaneInfo:"+JSON.stringify(JAE.util.__hasUAWindVaneInfo()));

            log("log-deviceInfo","TTIDInfo:"+JSON.stringify(JAE.util.__hasURLTTIDInfo()));

            log("log-deviceInfo","主客版本:"+JAE.util.__hasClientVersion());

            if(JAE.util.isInTaobaoApp()){
                log("log-deviceInfo","是否在主客中:是");
            }else{
                log("log-deviceInfo","是否在主客中:否");
            }

            log("log-deviceInfo","userAgent:"+navigator.userAgent);

            //webview环境
            JAE.bridge.getEnvironment(function(e){
                log("log-deviceInfo","当前环境:"+JSON.stringify(e));
            },function(e){
                log("log-deviceInfo","环境获取失败:"+JSON.stringify(e));
            })
        },false)



    </script>
</section>





<section id="netStatus">
    <h3>网络环境</h3>
    <div class="bd">
        <div class="log" id="log-netStatus"></div>
    </div>

    <script>
        JAE.bridge.netStatus(function(e){
            log("log-netStatus","网络状态:"+JSON.stringify(e));
        },function(e){
            log("log-netStatus","网络状态:"+JSON.stringify(e));
        })

        JAE.bridge.netType(function(e){
            log("log-netStatus","网络类型:"+JSON.stringify(e));
        },function(e){
            log("log-netStatus","网络类型:"+JSON.stringify(e));
        })
    </script>
</section>


<section id="vibrate">
    <h3>震动</h3>
    <div class="bd">
        <div class="log" id="log-vibrate"></div>
        <button id="btn-vibrate">震动一下</button>
    </div>

    <script>
        document.getElementById("btn-vibrate").addEventListener("click",function(){
            JAE.bridge.vibrate(function(e){
                log("log-vibrate","震动成功:"+JSON.stringify(e));
            },function(e){
                log("log-vibrate","震动失败:"+JSON.stringify(e));
            })

        })
    </script>
</section>





<section id="shake">
    <h3>摇一摇</h3>
    <div class="bd">
        <div id="shake-status"></div>
        <div id="shakebox"></div>
        <div class="log" id="log-shake"></div>
        <button onclick="listenShake()">开始颤抖</button>
        <button onclick="stopListenShake()">停止颤抖</button>
    </div>

    <script>
        var shake = window["JAE"].bridge.shake;

        function listenShake () {
            var p = {
                timeout : 5000
            };

            var w = 0;

            shake.startWatch(function(e){

                //document.getElementById("shake-status").innerHTML = JSON.stringify(e);

                w = w + 1;
                document.getElementById("shakebox").innerHTML = w;

                window.setInterval(function(){
                    w=0
                },10000);

            }, function (e) {
                log("log-shake","无法抖:"+JSON.stringify(e));
            }, p);

            tj = window.setInterval(function(){
                var j = document.getElementById("shakebox").innerHTML;

                if (0 < j)
                {
                    j = j - 1;
                    document.getElementById("shakebox").innerHTML = j;
                }
            }, 500);
        }

        function stopListenShake () {
            shake.stopWatch(function(){
                window.clearInterval(tj);
                document.getElementById("shakebox").innerHTML = "0";

            }, function(e){
                log("log-shake","无法停:"+JSON.stringify(e));
            });
        }
    </script>
</section>




<section>
    <h3>吹气</h3>

    <div class="bd">
        <div class="log" id="log-blow">..</div>
        <p><button id="btn-blow">监听吹气</button> <button id="btn-blow-stop">停止监听</button></p>
    </div>

    <script>
        document.getElementById("btn-blow").addEventListener("click",function(){
            JAE.bridge.blow.listenBlow(function(e) {
                log("log-blow","检测吹气任务成功！"+JSON.stringify(e));
            }, function(e) {
                log("log-blow","检测吹气任务失败！"+JSON.stringify(e));
            }, function (e) {
                log("log-blow","正在吹气:！"+JSON.stringify(e));
            });
        },false);

        document.getElementById("btn-blow-stop").addEventListener("click",function(){
            JAE.bridge.blow.stopListenBlow(function(e) {
                log("log-blow","停止检测工程");
            }, function (e) {
                log("log-blow","停止检测失败");
            });
        },false);
    </script>
</section>





<section id="geolocation">
    <h3>GPS</h3>
    <div class="bd">
        <div id="out">正在获取地理定位</div>
    </div>

    <script>
        (function(JAE){
            if(!JAE)return;
            var geolocation = JAE.bridge.geolocation;
            var output = document.getElementById("out");
            output.innerHTML = "<p>Locating…</p>";

            geolocation.get(function(position){
                var latitude  = position.coords.latitude;
                var longitude = position.coords.longitude;

                //alert(position.coords.latitude);

                output.innerHTML = '<p>Latitude is ' + latitude + '° <br>Longitude is ' + longitude + '°</p>';

                var img = new Image();
                img.src = "http://maps.googleapis.com/maps/api/staticmap?center=" + latitude + "," + longitude + "&zoom=13&size=300x300&sensor=false";

                output.appendChild(img);
            },function(){
                output.innerHTML = "Unable to retrieve your location";
            });
        })(window["JAE"]);
    </script>
</section>















<section id="share">
    <h3>分享</h3>
    <div class="bd">
        <div class="log" id="log-share"></div>
        <button id="btn-share">测试分享按钮</button>
    </div>


    <script>
        document.getElementById("btn-share").addEventListener("click",function(){
            var param = {
                "title" : '发现一个好玩的',
                "text" : '淘宝网—手机购物唯一选择',
                "url" : 'http://m.taobao.com?ttid=1',
                "image" : 'http://gtms01.alicdn.com/tps/i1/T1yw8zXw8jXXc6WFH2-592-296.jpg'
            }
            JAE.bridge.share(function(ev){
                log("log-share",JSON.stringify(ev))
            },function(ev){
                //android低版本无法执行失败回调
                log("log-share",JSON.stringify(ev))
            },param);
        },false);
    </script>

</section>






<section>
    <h3>关注微淘</h3>
    <div class="bd">
        <p><input type="text" id="snsId" placeholder="输入snsId" value="2010555570"></p>
        <div class="log" id="log-weFollow"></div>
        <button id="btn-weFollow">关注微淘</button>
    </div>

    <script>
        document.getElementById("btn-weFollow").addEventListener("click",function(){
            JAE.bridge.weFollow(function(ev){
                log("log-weFollow","关注成功："+JSON.stringify(ev))
            },function(ev){
                log("log-weFollow","关注失败："+JSON.stringify(ev))
            },{
                snsId:document.getElementById("snsId").value
            });
        })
    </script>
</section>


















</body>
</html>
